<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\repository\fossil.exe" arguments="server --create --jsmode bundled --user admin --https -P %HTTP_PLATFORM_PORT% %SystemDrive%\mounts\repo\repo.fossil" stdoutLogEnabled="true" stdoutLogFile="%HOME%\LogFiles\fossil.log" />
  </system.webServer>
</configuration>